# Entorno virtual
venv/
env/
.venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/

# VS Code
.vscode/

# Streamlit
.streamlit/secrets.toml

# Sistema operativo
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

#diagnostico_geojson

diagnostico_geojson.py